.panel-group{
	max-width: 1000px;
	margin: 0 auto;
}
@media only screen and (max-width: 780px) {
    .panel-group{
    	max-width: 700px;
    	margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    .panel-group{
    	max-width: 700px;
    	margin: 0 auto;
    }
}